* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*font-family: Lora, serif;*/
    line-height: 1.5;
    background-color: rgb(246, 241, 227);
} 

h1{
    display: none;
}

/*BLOQUE 1 - BANNER*/

@keyframes shimmer {
  0% { background-position: 200% center; }
  100% { background-position: 0 center; }
}

.contenedor-banner{
  background-image: url('../img/GifBanner.gif');
  width: calc(100vw - 15px);
  height: 80vh;
  position: relative;
  font-size: 40px;
  padding: 50px;
  
  
  video{
      width: 100%;
      object-fit: cover;
      height: 100vh;
  }

}

.contenedor-leyenda-banner{
    font-family: "Oswald", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(195deg, #00040a, transparent);
    box-shadow: 2px 0px 20px 13px rgba(124, 94, 30, 0.8);
    padding: 40px;

    h2 {
      position: relative;
      font-weight: 800;
      background: linear-gradient(90deg, #fddc8f 20%, #fff 40%, #fddc8f 60%);
      background-size: 200% auto;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      animation: shimmer 4s linear infinite;
      font-size: 2.4em;
      text-align: center;
      -webkit-text-stroke: 0.5px #000000;
      text-transform: uppercase;
    }
   
}

.contenedor-tarjetas-banner{
    margin: 0 auto;
    display: flex;
    gap: 80px;
    border-radius: 20px;
    justify-content: center;
}

.tarjeta-banner{
  flex: 1 1;
  background: rgba(9, 10, 14, 0.36);
  border: 1px solid rgba(255,255,255,0.06);
  backdrop-filter: blur(8px) saturate(120%);
  box-shadow: 0 6px 18px rgba(2,6,23,0.55), inset 0 1px 0 rgba(255,255,255,0.02);
  color: #fff;
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-radius: 20px;
  max-width: fit-content;
  text-align: center;
  
    .texto-tarjeta{
      display: flex;
      flex-direction: column;
      font-family: "Oswald", sans-serif;
      text-shadow: 7px 0px 5px rgb(103 103 103 / 55%);
    }
}

.cifras{
  font-size: 1.9em;
}

/*BLOQUE 2 - 6 PARRAFOS DE TEXTO + IMAGEN*/

 .esports-section {
  background: #00040af8;        
  padding: 60px 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1700px;          
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-bottom: 40px;
}

.title {
  font-size: 45px;
  margin-bottom: 10px;
  color: #e6eef6; 
  font-family: "Oswald", sans-serif;           
}

.subtitle {
  font-size: 17.6px;
  color: #9aa6b2;             
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.hero-image {
  flex: 1;
  
}

.hero-image img {
  max-width: 100%;
  border-radius: 12px;
  display: block;
  margin-top: 100px;
}

.hero-image figcaption {
  margin-top: 8px;
  font-size: 14.4px;
  color: #9aa6b2;             
}

.text {
  flex: 2;
  font-size: 17px;
  line-height: 1.6;
  text-align: justify;
  color: #ebeef0;             
}

.text strong{
  color:  rgb(245, 189, 5);
}

.text em{
  color:rgb(241, 241, 136)
}

.text p {
  margin-bottom: 18px;
  
}

/*BLOQUE 3 - RANKING GLOBAL ESPORTS*/

.contenedor-ranking{
  width: 100%;
  height: 700px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-image: url('../img/background-ranking.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding-top: 70px;

  h2{
      font-size: 2em;
  }

  p{
      margin-top: 15px;
      font-size: 2em;
      font-weight: 200;
  }
}

.contenedor-tarjetas-principales{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tarjeta-principal{
  margin: 30px;
  width: 400px;
  height: 250px;
  background-color: aliceblue;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.tarjeta-principal.gold {
  background: rgba(247, 200, 45, 0.466);
  border-color: rgba(212,175,55,0.7);
}

.tarjeta-principal.silver {
  background: rgba(255, 255, 255, 0.466);
  border-color: rgba(238, 232, 232, 0.685);
}

.tarjeta-principal.bronce {
  background: rgba(124, 94, 30, 0.466);
  border-color: rgba(141, 115, 59, 0.466);
}

.tarjeta-principal.gold:hover {
  background: rgba(212, 175, 55, 0.8);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-5px);
}

.tarjeta-principal.silver:hover {
  background: rgba(202, 202, 202, 0.8);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-5px);
}

.tarjeta-principal.bronce:hover {
  background: rgba(124, 94, 30, 0.8);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-5px);
}

/*BLOQUE 4 - EQUIPOS*/

.contenedor-equipos{
    text-align: center;
    font-family: "Oswald", sans-serif;
    background-image: url('../img/background-ranking.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    padding-top: 70px;
    width: 100%;
    min-height: 700px;
}

.titulo-gigantes{
    font-size: 45px;
}

.texto-gigantes{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: 200;
    max-width: 1900px;
}

.card-selector {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 0 30px gold;
  
  
}

.card {
  position: relative;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
  box-shadow: gold;
  display: block;
  text-align: center;
  
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(212, 165, 8, 0.4);
}

.card input[type="radio"] {
  display: none;
}

.card .bg-img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.9);
  transition: filter 0.3s;
}

.card span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px black;
  background: rgba(0, 0, 0, 0.5);
}

.card input[type="radio"]:checked + .bg-img {
  filter: brightness(1) saturate(1.2);
}

.card input[type="radio"]:checked ~ span {
  background: rgba(124, 121, 121, 0.7);
  color: #ffffff;
  text-shadow: 0 0 10px rgb(50, 147, 238);
}


/* MOVIL */

@media screen and (min-width: 0px) and (max-width: 600px) {

    /*BLOQUE 1 - BANNER*/

    .contenedor-banner{
        width: 80vw;
        height: auto;
    }

    /*BLOQUE 2 - 6 PARRAFOS DE TEXTO + IMAGEN*/

    /*BLOQUE 3 - RANKING GLOBAL ESPORTS*/

    /*BLOQUE 4 - EQUIPOS*/
    
}

/* TABLET */

@media screen and (min-width: 601px) and (max-width: 1023px) {

    /*BLOQUE 1 - BANNER*/

    .contenedor-banner{
      width: 100vw;
      height: 80vw;

      video{
          width: 100%;
          object-fit: cover;
          height: 100%;
      }
    }

    .contenedor-leyenda-banner{
        width: 100%;

        h2{
            padding-bottom: 130px;
            font-size: 1.5em;
            width: 70%;
            margin: 0 auto;
            background-image: linear-gradient(45deg, #fddc8f, transparent);
        }
    }

    /*BLOQUE 2 - 6 PARRAFOS DE TEXTO + IMAGEN*/

    /*BLOQUE 3 - RANKING GLOBAL ESPORTS*/

    .contenedor-ranking{
        width: 100%;
        height: 700px;
        text-align: center;
        font-family: "Oswald", sans-serif;
        background-image: url('../img/background-ranking.webp');
        background-size: cover;
        background-repeat: no-repeat;
        color: whitesmoke;
        padding-top: 70px;

        h2{
            
        }

        p{
            margin-top: 15px;
            font-size: 3em;
            line-height: 1.6;
            font-weight: 200;
        }

    }

    .contenedor-tarjetas-principales{
        flex-direction: column;
        align-items: center;
    }

    /*BLOQUE 4 - EQUIPOS*/
    
}

/* DISPOSITIVOS TOUCH MAS GRANDES QUE TABLET QUE NO TENGAN BARRA DE SCROLL 
@media screen and (min-width: 1023px) and (max-width: 1920px) {
    .contenedor-banner{
        width: 100vw;
    }

}*/